 .App{
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: Linear-gradient(79deg,  #000000 , #800000, #000000);
}

.main-Form-container , .login-form, .register-form{
   display: flex;
   flex-direction: column;
   align-items: center; 
   text-align: left;
}
@media screen and (min-width: 600px) {
  .main-Form-container .App{
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
}
} 
label{
  text-align: left;
  padding: 0.25rem 0;
}
input{
  margin:  0.5rem 0 ;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
.btn-1{
  padding: 10px;
  border: none;
  border-radius: 10px;
  border-color:whitesmoke;
  background-color:whitesmoke;
  color: #800000;
  cursor: pointer;
}
.link-btn{
  margin: 8px;
  padding: 10px;
  text-decoration:underline;
  background:none;
  border: none;
  border-color:white;
  border-radius: 5px;
}